<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>

#RewriteCond %{HTTP_HOST} ^gourmetworldmarket\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.gourmetworldmarket\.com$
RewriteRule ^/?$ "http\:\/\/gourmetworldmarket\.com\/" [R=301,L]

