.DS_Store
dwsync.xml
app/Config/database.php
app/Config/settings.php
app/tmp/logs/error.log
app/tmp/logs/debug.log
app/tmp/cache/models/*
app/tmp/cache/persistent/*
app/tmp/cache/views/*
app/tmp/cache/cake_toolbar*
app/tmp/cache/cake_menuvendors
app/tmp/cache/cake_menucategories
app/tmp/cache/cake_menublocks

/app/webroot/img/global/_notes/gb-title.png.mno
_notes
/app/webroot/img/global/_notes/basket.png.mno
/app/webroot/img/global/_notes/content-product.png.mno
/app/webroot/img/global/_notes/content-recipe.png.mno
/app/webroot/img/global/_notes/dwsync.xml
/app/webroot/img/global/_notes/GB-header-2013.png.mno
/app/webroot/img/global/_notes/GB-header-clean.png.mno
/app/webroot/img/global/_notes/GB-header-ER.png.mno
/app/webroot/img/global/_notes/infinite-header.png.mno
/app/webroot/img/global/_notes/left-sun.png.mno
/app/webroot/img/global/_notes/right-sun.png.mno