body {
	background-color:#FFFCF5;
	
}

#wrapper {
	width:1120px;
	margin:auto;
}
.content {
	/*font-size: 80%;*/
}

#flashMessage{
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	background: #EEEEEE;
	color: #444444;
}

.error-message {
	color: #CC0000;
}

.error {
	color: #CC0000;
}

.img100 {
	min-width: 100px !important;
	max-width: 100px !important;
}

/***  Limit Height in Admin Index ***/

td div {
	/*max-height: 130px;
	overflow-y: scroll;*/
}

th {
	font-size:11px;
	}
	
td {
	font-size:12px;
	}

td.constrain img{
	max-height: 90px;
	width: auto;
}

td.art-constrain div {
	max-height: 70px;
}

.limit {
	max-height:120px;
	overflow-y:scroll;
}

.emphasize {
	font-weight: bold;
	font-size: 13px;
	color: red;
	margin-bottom: 15px;
}

/** Awning tool **/
.awning {
	height: 111px;
	width: 690px;
	margin: 0;
	padding: 0;
}

/** Nutrition **/
.nutrition .text label {
	font-size: 12px;
}


/**Multiple Select jQuery Tool **/
.ui-multiselect { padding:2px 0 2px 4px; text-align:left }
.ui-multiselect span.ui-icon { float:right }
.ui-multiselect-single .ui-multiselect-checkboxes input { position:absolute !important; top: auto !important; left:-9999px; }
.ui-multiselect-single .ui-multiselect-checkboxes label { padding:5px !important }

.ui-multiselect-header { margin-bottom:3px; padding:3px 0 3px 4px }
.ui-multiselect-header ul { font-size:0.9em }
.ui-multiselect-header ul li { float:left; padding:0 10px 0 0 }
.ui-multiselect-header a { text-decoration:none }
.ui-multiselect-header a:hover { text-decoration:underline }
.ui-multiselect-header span.ui-icon { float:left }
.ui-multiselect-header li.ui-multiselect-close { float:right; text-align:right; padding-right:0 }

.ui-multiselect-menu { display:none; padding:3px; position:absolute; z-index:10000; text-align: left }
.ui-multiselect-checkboxes { position:relative /* fixes bug in IE6/7 */; overflow-y:scroll }
.ui-multiselect-checkboxes label { cursor:default; display:block; border:1px solid transparent; padding:3px 1px }
.ui-multiselect-checkboxes label input { position:relative; top:1px }
.ui-multiselect-checkboxes li { clear:both; font-size:0.9em; padding-right:3px }
.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label { text-align:center; font-weight:bold; border-bottom:1px solid }
.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label a { display:block; padding:3px; margin:1px 0; text-decoration:none }

/* remove label borders in IE6 because IE6 does not support transparency */
* html .ui-multiselect-checkboxes label { border:none }

/** Text Area Styles **/

.input-gb-large {
 	width: 440px;
}

input.gb-text-large {
	width: 206px;
	height:50px;
}
	
div hr {
	border: 1px solid #969696;
	}

div.inline > .input {
	width:46px;
	display:inline;
	}	
	
	/**Title **/
.title {
	text-align:center;
	font-weight:bold;
	font-size:30px;
}

/** Larger text field **/

.text input#UserShopSignature {
	width:200px;
	}


/** Hide Chrome Spinner **/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

/** Horizontal label vert align **/
.horiz-label {
	padding-top:30px;
}