body {
	border-top: none;
	color: #444;
	font-family: 'Open Sans', verdana, arial, sans-serif;
	/*font-family: "Mako", sans-serif;*/
	font-size: 13px;
	background-color: #f7f1e5;
	padding-top: 0px;
}

h1, h2, h3, h4, h5, h6 {
	font-weight:normal;
}

h1 {
	font-size: 200%;
}
h4 {
	display: inline;
}
a {
	color: #3f9179;
}
ul {
	margin-top: 10px;
	list-style-image: url(../img/ul-disc.png);
}
hr {
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #FFF;
	margin: 20px 0;
}
.center {
	text-align: center;
}

.small {
	font-size:15px;
}

/** Pic Frame **/

img.frame {
	border: solid #CCC 3px;
	padding: 5px;
	-webkit-box-shadow: 0px 0px 5px #F1F1F1;
	-moz-box-shadow: 0px 0px 5px #F1F1F1;
	box-shadow: 0px 0px 5px #F1F1F1;
}
.left-corner-air {
	padding-left: 20px;
	padding-top: 20px;
}
#header {
	background-image: url(../img/global/GB-header-2013.png);
	height: 147px;
	width: 1003px;
	margin: auto;
	position: relative;
}
.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
	width: 960px;
}
.container.content {
	position: relative;
	/*border:#666 thin solid ;*/
	-webkit-box-shadow: 0px 0px 6px 0px #3a3a3a; /* Android 2.3+, iOS 4.0.2-4.2, Safari 3-4 */
	box-shadow: 0px 0px 6px 0px #3a3a3a; /* Chrome 6+, Firefox 4+, IE 9+, iOS 5+, Opera 10.50+ */
	min-height: 650px;
	padding-bottom: 30px;
}
.left-sun, .right-sun {
	width: 61px;
	height: 508px;
	position: absolute;
	top: 165px;
	z-index: -1;
}
.left-sun {
	left: -62px;
	background-image: url(../img/global/left-sun.png)
}
.right-sun {
	right: -62px;
	background-image: url(../img/global/right-sun.png)
}
.span3 .vendor-logo {
	/*color:#5d996d;*/
	font-family: 'Oregano', cursive;
	font-size: 16px;
	letter-spacing: 1px;
}

.vendor-logo .name {
	font-size:21px;
	margin-top:10px;
}

.vendor-logo .plain {
	color: #444;
	font-family: 'Open Sans', verdana, arial, sans-serif;
	/*font-family: "Mako", sans-serif;*/
	font-size: 13px;
	letter-spacing:0px;

}

.quote {
	color: #3f9179;
	padding-right: 35px;
	padding-top: 10px;
	padding-bottom: 1px;/*font-style:italic;*/
}

.cat-quote {
	color: #3f9179;
	font-size:12px;
}

.breadcrumb {
	background-color: #f7f1e5;
}
.breadcrumb.vendor-index {
	background-color: f7f1e5;
}

.breadcrumb li  {
	text-shadow:none;
}
.breadcrumb li a {
	color: #3a3a3a;
}
.breadcrumb li.active {
	color: #000;
	font-weight: bold;
}
/**Category Breadcrumbs **/

.categories {
	background: #649d78;
}
.breadcrumb.categories li {
	text-shadow: none;
}

.breadcrumb.categories li  a{
	color:#fff;
}

.cat-product-block {
	margin-left: 38px;
}
#search-box {
	position: absolute;
	top: 10px;
	right: 0px;
}
/** GB Nav background **/

.gb-nav-bkgnd {
	background-color: #3A3A3A;
}
.basket {
	position: absolute;
	top: 90px;
	left: 41px;
	z-index: 500;
}
#nav-wrapper {
	height: 100px;
	width: 100%;
	padding-top: 107px;
}
.nav-collapse {
	margin-left: 88px;
}
.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
	background-color: transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.navbar-inner {
	min-height: 40px;
	padding-right: 20px;
	padding-left: 44px;
	background-color: transparent;
	background-image: none;
	background-repeat: none;
	border: none;
	-webkit-border-radius: none;
	-moz-border-radius: none;
	border-radius: none;
	filter: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.navbar {
	margin-bottom: 0px;
	background-color: #3a3a3a;
}
.navbar .nav {
	left: 126px;
}
.navbar .nav > li > a {
	color: #fff;
	font-weight: bold;
	font-size: 100%;
	text-shadow: none;
}
li.mzr-drop>a>b.caret {
	vertical-align: middle;
	margin-left: 3px;
}

.mzr-content p.special {
	margin-bottom:5px;
}

p.special a, span.special a {
	font-weight: bold;
	color:#930;
	font-size: 14px;
}


span.special.nolink {
	font-weight: bold;
	color: #3F9179;
	font-family: 'Oregano', cursive;
	font-size: 16px;
}

.caret {
	vertical-align: middle;
	border-top: 4px solid white;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	content: "";
}
/** Mega Menu **/

.meganizr > li > div.popover-content, .meganizr > li > ul {
	border: #aaa6a6 2px solid;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-webkit-box-shadow: 0px 0px 7px 0px #3A3A3A;
	box-shadow: 0px 0px 7px 0px #3A3A3A;
	

}

.mzr-content p {
	font-weight:600;
	
}
.mzr-content p a {
	color:#a70000;
}


.mzr-content p.nav-special a{
	color:#3f9179;
}

.meganizr > li > div {
	-webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.1), inset 0px 1px 1px 1px rgba(255, 255, 255, 0.7);
	-moz-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.1), inset 0px 1px 1px 1px rgba(255, 255, 255, 0.7);
	box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.1), inset 0px 1px 1px 1px rgba(255, 255, 255, 0.7);
	
}
.meganizr {
	border: none;
	background: none;
}

.mzr-content p.nav-special a{
	color:#3f9179;
}


ul.meganizr >li {
	border: none;
}
ul.meganizr > li > a {
	padding-left: 8px;
}
ul.meganizr > li > a:hover, .mzr-content .wide p a:hover {
	color: #97c199;
}

ul.meganizr >li.btn.btn-gb {
	height:27px;
	
}

ul.meganizr >li.cart > a {
	padding-left:10px;
	padding-top:0px;
	line-height:33px;
}

.btn.btn-gb.cart {
	line-height:17px;
	margin-top: 6px;
}

#outer-wrapper {
	margin: 0px;
	padding: 0px;
	position: relative;
	background: url(../img/global/bubbles.png) no-repeat fixed 50% 0 !important;
}
#head {
	position: relative;
	width: 100%;
	height: 40px;
	background: #EEE;
}
.content {
	background-color: #FFFFFE;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 0;
	padding-left: 20px;
}
.f10 {
	font-size: 10px;
}
.f11 {
	font-size: 11px;
}
.f12 {
	font-size: 12px;
}
.portfolio {
	font-size: 11px;
}
.portfolio a {
	font-size: 12px;
}
.error {
	font-size: 11px;
	color: red;
}
#flash_msg {
	position: absolute;
	top: 13px;
	right: 10px;
	-webkit-box-shadow: 0px 0px 8px 0px #3A3A3A;
	box-shadow: 0px 0px 8px 0px #3A3A3A;
	z-index: 10000;
}
.img180 {
	width: 100px;
	height: 100px;
}
.cake-sql-log {
	background: #fff;
}
.cake-sql-log td {
	border: 1px solid #DDD;
	padding: 4px 8px;
	text-align: left;
	font-size: 12px;
}
.cake-sql-log caption {
	color: #666;
}

#footer {
	width:1003px;
	margin:auto;
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: 1px #DDD solid;
	background-color:#3a3a3a;
	color:#fff;
}




/** VENDOR PRODUCT DISPLAY **/


/** PRODUCT DISPLAY - individual **/
.span9.product-column {
	margin-left: 36px;
}
.products {
	margin-top: 10px;
}
.row.product {
	margin-left: 15px;
}
.gb {
	margin-left: 0px;
}
.span2.gb {
/*margin-left:0px;
	margin-right:25px;
	height:180px;	*/
}
.span2.gb {
	margin-left: 25px;
	margin-right: 0px;
	width: 150px;
}




.content-product {
	position: relative;
	float: left;
	width: 150px;
	height: 182px;
	margin-bottom: 35px;
	padding-top: 18px;
	background-image: url(../img/global/content-product.png);
	background-repeat: no-repeat;
}
.content-product .content-img {
	/*overflow: hidden;*/
	height: 110px;
	width: 110px;
	margin-left: 18px;
	margin-bottom: 20px;/*border: #CCC solid thin;*/
}
.content-product .product-name {
	font-size: 11px;
	font-weight: bold;
	line-height: 13px;
	display: block;
	text-align: left;
	margin-top: 20px;
	margin-right: 6px;
	margin-left: 0px;
	padding-top: 0px;
	width: 118px;
}
h2.product-name {
	font-size: 21px;
	font-family: 'Oregano', cursive;
	color: #3F9179;
	line-height: 25px;
}
.product-name a, div.price {
	font-size: 11px;
	text-decoration: none;
}
.product-label {
	font-weight: 600;
}

.minimum {
	font-style:italic;
	font-size:11px;
	color:#C00;
	font-weight: 600;
}
div.product-name, div.product-name p, div.product-name a {
	line-height: 14px;
	padding: 0px;
	margin: 0px;
}
.img-polaroid {
	max-width: 120%;
}
.pic-thumbnail {
	height: 50px;
	width: 50px;
	padding: 2px;
	display: block;
	border: 1px solid #CCC;
}
#carousel.flexslider {
	margin: 0 0 30px;
	background: white;
	border: none;
	position: relative;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-o-border-radius: 0px;
	border-radius: 0px;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	zoom: 1;
}
#carousel .slides li {
	max-width: 50px;
	margin-right: 10px;
	cursor: pointer;
}
.popover {
	width: 500px;
}
.popover-title {
	display: none;
}
.popover-content {
	font-weight: normal;
	font-size: 13px;
	padding:20px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f7f1e5)); /* Chrome, Safari 4+ */
	background-image: -webkit-linear-gradient(top, #ffffff, #f7f1e5); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
	background-image:    -moz-linear-gradient(top, #ffffff, #f7f1e5); /* Firefox 3.6-15 */
	background-image:      -o-linear-gradient(top, #ffffff, #f7f1e5);; /* Opera 11.10-12.00 */
	background-image:         linear-gradient(to bottom, #ffffff, #f7f1e5); /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */
	
}
.popover-content p {
	margin-bottom: 15px;
	
}
div.price {
	margin-top: 44px;
	margin-right: 10px;
	text-align: right;
	color: #7F131F;
}
.search-price {
	font-size: 11px;
	font-weight: bold;
	color: #555;
}
div.brand {
	margin-top: 5px;
	margin-right: 10px;
	text-align: center;
	font-size: 11px;
	color:#888;
	
}
div.brand a {
	color: #CCC;
}

div.brand-search {
	text-align: left;
	font-size: 11px;
	color: #CCC;
}
.search-result a {
	font-size: 11px;
}
.search-image {
	margin-bottom: 10px;
}
/** PRODUCT DESCRIPTION **/
.product-description {
	margin-left: 30px;
	width: 360px;
}
.product-description .hand {
	width: 45px;
}

.purchase-block {
	width:120px;
	float:right;
	margin-left:15px;
	margin-bottom:15px;
}

.product-price {
	font-size:18px;
	padding-bottom:5px;
	
}

.purchase-block input.span1 {
	width:25px;
}

form#ProductViewForm {
	margin-bottom:0px;
}


/** PRODUCT SLIDESHOW **/

div.slideshow-container {
	clear: both;
	height: 300px;
}
div.slide-content {
	/* The display of slide-content is enabled using jQuery so that the slideshow slide-content won't display unless javascript is enabled. */
	height: 500px;
	width: 300px;
}
/*div.slide-content a, div.navigation a {
	text-decoration: none;
	color: #777;
}
div.slide-content a:focus, div.slide-content a:hover, div.slide-content a:active {
	text-decoration: underline;
}
div.controls {
	margin-top: 5px;
	height: 23px;
}
div.controls a {
	padding: 5px;
}
div.ss-controls {
	float: left;
}
div.nav-controls {
	float: right;
}
*/
div.slideshow-container {
	position: relative;
	clear: both;
	height: 300px; /* This should be set to be at least the height of the largest image in the slideshow */
}
div.loader {
	position: absolute;
	top: 0;
	left: 0;
	background-image: url('loader.gif');
	background-repeat: no-repeat;
	background-position: center;
	width: 250px;
	height: 250px; /* This should be set to be at least the height of the largest image in the slideshow */
}
div.slideshow {
	position: relative;
	width: 300px;
	height: 300px;
}
div.slideshow span.image-wrapper {
	display: block;
	position: absolute;
	top: -300px;
	left: 0;
}
div.slideshow a.advance-link {
	display: block;
	width: 300px;
	height: 300px; /* This should be set to be at least the height of the largest image in the slideshow */
	line-height: 300px; /* This should be set to be at least the height of the largest image in the slideshow */
	text-align: center;
}
div.slideshow a.advance-link:hover, div.slideshow a.advance-link:active, div.slideshow a.advance-link:visited {
	text-decoration: none;
}
div.slideshow img {
	vertical-align: middle;
	border: 1px solid #ccc;
}
div.download {
	float: right;
}
div.caption-container {
	position: relative;
	clear: left;
	height: 0px;
}
span.image-caption {
	display: block;
	position: absolute;
	width: 300px;
	top: 0;
	left: 0;
}
div.caption {
	padding: 12px;
}
div.image-title {
	font-weight: bold;
	font-size: 1.4em;
}
div.image-desc {
	line-height: 1.3em;
	padding-top: 12px;
}
div.navigation {
	/* The navigation style is set using jQuery so that the javascript specific styles won't be applied unless javascript is enabled. */
	position: absolute;
	bottom: 125px;
}
#thumbs {
	height: 60px;
}
ul.thumbs {
	height: 60px;
	display: block;
	clear: both;
	margin: 0;
	padding: 0;
}
ul.thumbs li {
	float: left;
	padding: 0;
	margin: 5px 10px 5px 0;
	list-style: none;
}
a.thumb {
	padding: 2px;
	display: block;
	border: 1px solid #ccc;
}
ul.thumbs li.selected a.thumb {
	background: #000;
}
a.thumb:focus {
	outline: none;
}
ul.thumbs img {
	border: none;
	display: block;
}
*/ /*div.pagination {
	clear: both;
}
*/
div.navigation div.top {
 margin-bottom: 12px;
 height: 11px;
}
div.navigation div.bottom {
	margin-top: 12px;
}



div.pagination a, div.pagination span.current, div.pagination span.ellipsis {
	display: block;
	float: left;
	margin-right: 2px;
	padding: 4px 7px 2px 7px;
	border: 1px solid #ccc;
}
div.pagination a:hover {
	background-color: #eee;
	text-decoration: none;
}
div.pagination span.current {
	font-weight: bold;
	background-color: #000;
	border-color: #000;
	color: #fff;
}
div.pagination span.ellipsis {
	border: none;
	padding: 5px 0 3px 2px;
}

div.pagination .disabled {
	display:none;
}


/** Pantry ( Categories) **/

body.categories .content {
	background-color: #fffbe5;
	padding-top: 10px;
}
body.categories .content a {
	color: #fff;
	font-size: 12px;
}
#pantry-container {
	background-image: url(../img/categories/pantry-inside.jpg);
	background-repeat: no-repeat;
	height: 560px;
	padding-top: 102px;
	position: relative;
}
#left-door-inside, #right-door-inside, #left-door-outside, #right-door-outside {
	position: absolute;
	background-repeat: no-repeat;
	z-index: 1000;
}
#left-door-inside {
	background-image: url(../img/categories/l-door-inside.jpg);
	width: 221px;
	height: 667px;
	left: -175px;
	top: 100px;
}
#right-door-inside {
	background-image: url(../img/categories/r-door-inside.jpg);
	width: 221px;
	height: 667px;
	right: -175px;
	top: 100px;
}
#left-door-outside {
	background-image: url(../img/categories/l-door-outside.png);
	width: 234px;
	height: 667px;
	left: -180px;
	bottom: -75px;
}
#right-door-outside {
	background-image: url(../img/categories/r-door-outside.png);
	width: 234px;
	height: 667px;
	right: -179px;
	bottom: -61px;
}
h3.cat-title {
	font-family: 'Oregano', cursive;
	color: #3F9179;
	font-size: 19px;
	text-align: center;
	line-height: 21px;
}
h3.cat-list {
	font-size: 14px;
	line-height: 14px;
	margin-bottom: 0px;
}
.well-stocked-pantry {
	font-family: 'Oregano', cursive;
	font-size: 21px;
	letter-spacing: 1px;
	text-align: center;
	color: #FFF;
}
.img-pantry {
	padding: 4px;
	background-color: transparent;
	border: none;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.span2.pantry {
	width: 100px;
	height: 112px;
	background-image: url(../img/global/pantry-item-bkgnd.png);
}
.span2.pantry a {
	color: #fff;
	font-size: 11px;
}
.span2.pantry .cat-name {
	text-align: center;
}
.row.pantry-row {
	margin-left: 49px;
}
/** Category Summary **/
.summary {
	/*letter-spacing: 1px;*/
	width: 385px;
	margin-top: 20px;
	margin-bottom: 30px;
	margin-left: 165px;
	color: #032177;
	text-align: left;
	background-color: #FEE79B;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background-position: 200px 0px;
	background-image: url(../img/blockquote-bkgnd.jpg);
	background-repeat: repeat;
	padding: 30px;
}
.summary p {
	font-size: 13px;
}
/** Awning **/


.awning {
	position: relative;
}
#awning-logo {
	position: absolute;
	top: 8px;
	left: 232px;
}
#awning1 {
	position: relative;
}
/** Awning Title **/
	
#awning-text-wrapper {
	position: absolute;
	z-index: 50;
	top: 85px;
	left: 200px;
	width: 300px;
}
#awning-text {
	text-align: center;
	font-size: 15px;
	color: #fff;
	text-shadow: 2px 2px #000222;
}
#div1 {
	position: absolute;
	top: -54px;
	left: 156px;
	height: 63px;
	width: 206px;
	margin: 50px;
	padding: 0px;
	perspective: 100;
	-webkit-perspective: 100; /* Safari and Chrome */
	z-index: 100;
}
#div2 {
	padding: 0px;
	transform: rotateX(45deg);
	-webkit-transform: rotateX(45deg); /* Safari and Chrome */
}
div.span8>div.awning>img {
	width: 690px;
	height: 111px;
}
/** CATEGORY NAV MENU **/

/*#subcat-menu {
	
	width: 270px;
	padding: 15px;
	margin-bottom: 10px;
	margin-left: url(pxx);
	margin-right: 20px;
	background-color: #fffbf4;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}
*/

#subcat-menu a {
	font-size: 89%;
}
#category-article {
	float: left;
	border: thin solid #CCC;
	width: 590px;
	padding: 20px;
	margin-bottom: 20px;
	background-color: white;
	line-height: 20px;
}
.category-summary, .tradition-summary, #subcat-menu {
	
	width: 195px;
	margin-top: 15px;
	margin-bottom: 30px;
	/*margin-left: 182px;*/
	border:#649d78 2px solid;
	color: #3a3a3a;
	text-align: left;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 20px;
	 background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f1e5), to(#ffffff)); /* Chrome, Safari 4+ */
	 background-image: -webkit-linear-gradient(top, #f7f1e5, #ffffff); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
	 background-image:    -moz-linear-gradient(top, #f7f1e5, #ffffff); /* Firefox 3.6-15 */
	 background-image:      -o-linear-gradient(top, #f7f1e5, #ffffff);; /* Opera 11.10-12.00 */
	 background-image:         linear-gradient(to bottom, #f7f1e5, #ffffff); /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */
	
}
.tradition-images {
	float: left;
	margin-bottom: 20px;
	margin-left: 10px;
}
img.tradition, img.vendor-pic {
	width: 300px;
	border: solid #CCC 2px;
	padding: 5px;
}
img.recipe-pic {
	border: solid #CCC 2px;
	padding: 5px;
	-webkit-box-shadow: 0px 0px 5px #F1F1F1;
	-moz-box-shadow: 0px 0px 5px #F1F1F1;
	box-shadow: 0px 0px 5px #F1F1F1;
}
.category-pic, .intl-image {
	width: 290px;
	padding: 10px;
}

.category-pic-small {
	width: 70px;
}

.category-summary>img {
	float:right;
}

.top-product-block {
	margin-left: -3px;
}
.span12.bottom-block {
	margin-left: 52px;
}
/** VENDOR INFO AREA **/

img.vendor-article-logo {
	width: 280px;
}
.vendor-special {
	position: relative;
	font-family: 'Oregano', cursive;
	letter-spacing: 1px;
	width: 500px;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 0px;
	color: #032177;
	text-align: left;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background-position: 200px 0px;
	background-image: url(../img/blockquote-bkgnd.jpg);
	background-repeat: repeat;
	padding-left: 25px;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}
.air {
	margin-top: 15px;
}
.quote-air {
	margin-left: 73px;
	margin-top: 10px;
}
blockquote p {
	font-size: 17px;
	line-height: 19px;
}
#vendor-article {
	padding-left: 20px;
	padding-bottom: 25px;
}

#vendor-article  p.section-heading {
	font-size: 27px;
}
.span12.vendor-block {
	margin-left: 52px;
}
.signature {
	margin-top: 5px;
	text-align: right;
	font-size: 17px;

}
blockquote {
	border: none;
	margin-bottom: 5px;
}
blockquote::before {
	background: url(../img/global/quote-start.png) left top no-repeat;
	content: '';
	position: absolute;
	top: 11px;
	left: 11px;
	width: 37px;
	height: 37px;
}
blockquote::after {
	background: url(../img/global/quote-end.png) right bottom no-repeat;
	content: '';
	position: absolute;
	bottom: 11px;
	right: 11px;
	width: 37px;
	height: 37px;
}
.vendor-pic, img.vendor-pic {
	width: 280px;
}


.vendor-sidebar-pics img{
	width: 260px;
	margin-bottom:20px;
}
/** Product Image Viewer **/

/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

 
/* Browser Resets */
.flex-container a:active, .flexslider a:active, .flex-container a:focus, .flexslider a:focus {
	outline: none;
}
.slides, .flex-control-nav, .flex-direction-nav {
	margin: 0;
	padding: 0;
	list-style: none;
}
/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {
	margin: 0;
	padding: 0;
}
.flexslider .slides > li {
	display: none;
	-webkit-backface-visibility: hidden;
} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
	width: 100%;
	display: block;
}
.flex-pauseplay span {
	text-transform: capitalize;
}
/* Clearfix for the .slides element */
.slides:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
html[xmlns] .slides {
	display: block;
}
* html .slides {
	height: 1%;
}
/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
	display: block;
}
/* FlexSlider Default Theme
*********************************/
.flexslider {
	margin: 0 0 20px;
	background: #fff;
	border: 4px solid #fff;
	position: relative;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	box-shadow: 0 1px 4px rgba(0,0,0,.2);
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,.2);
	-o-box-shadow: 0 1px 4px rgba(0,0,0,.2);
	zoom: 1;
}
.flex-viewport {
	max-height: 2000px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	transition: all 1s ease;
}
.loading .flex-viewport {
	max-height: 300px;
}
.flexslider .slides {
	zoom: 1;
}
.carousel li {
	margin-right: 5px
}
/* Direction Nav */
.flex-direction-nav {
*height: 0;
}
.flex-direction-nav a {
	width: 30px;
	height: 30px;
	margin: -20px 0 0;
	display: block;
	background: url(images/bg_direction_nav.png) no-repeat 0 0;
	position: absolute;
	top: 50%;
	z-index: 10;
	cursor: pointer;
	text-indent: -9999px;
	opacity: 0;
	-webkit-transition: all .3s ease;
}
.flex-direction-nav .flex-next {
	background-position: 100% 0;
	right: -36px;
}
.flex-direction-nav .flex-prev {
	left: -36px;
}
.flexslider:hover .flex-next {
	opacity: 0.8;
	right: 5px;
}
.flexslider:hover .flex-prev {
	opacity: 0.8;
	left: 5px;
}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
	opacity: 1;
}
.flex-direction-nav .flex-disabled {
	opacity: .3!important;
	filter: alpha(opacity=30);
	cursor: default;
}
/* Control Nav */
.flex-control-nav {
	width: 100%;
	position: absolute;
	bottom: -40px;
	text-align: center;
}
.flex-control-nav li {
	margin: 0 6px;
	display: inline-block;
	zoom: 1;
*display: inline;
}
.flex-control-paging li a {
	width: 11px;
	height: 11px;
	display: block;
	background: #666;
	background: rgba(0,0,0,0.5);
	cursor: pointer;
	text-indent: -9999px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;
	box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
}
.flex-control-paging li a:hover {
	background: #333;
	background: rgba(0,0,0,0.7);
}
.flex-control-paging li a.flex-active {
	background: #000;
	background: rgba(0,0,0,0.9);
	cursor: default;
}
.flex-control-thumbs {
	margin: 5px 0 0;
	position: static;
	overflow: hidden;
}
.flex-control-thumbs li {
	width: 25%;
	float: left;
	margin: 0;
}
.flex-control-thumbs img {
	width: 100%;
	display: block;
	opacity: .7;
	cursor: pointer;
}
.flex-control-thumbs img:hover {
	opacity: 1;
}
.flex-control-thumbs .flex-active {
	opacity: 1;
	cursor: default;
}
 @media screen and (max-width: 860px) {
.flex-direction-nav .flex-prev {
	opacity: 1;
	left: 0;
}
.flex-direction-nav .flex-next {
	opacity: 1;
	right: 0;
}
}
/** CUSTOM BOOTSTRAP **/

.btn-custom {
	background-color: hsl(195, 79%, 43%) !important;
	background-repeat: repeat-x;
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#56c5eb", endColorstr="#1798c4");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#56c5eb), to(#1798c4));
	background-image: -moz-linear-gradient(top, #56c5eb, #1798c4);
	background-image: -ms-linear-gradient(top, #56c5eb, #1798c4);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #56c5eb), color-stop(100%, #1798c4));
	background-image: -webkit-linear-gradient(top, #56c5eb, #1798c4);
	background-image: -o-linear-gradient(top, #56c5eb, #1798c4);
	background-image: linear-gradient(#56c5eb, #1798c4);
	border-color: #1798c4 #1798c4 hsl(195, 79%, 38%);
	color: #fff !important;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
	-webkit-font-smoothing: antialiased;
}

.btn-global {
	color: #FFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #49AFCD;
	background-image: -moz-linear-gradient(top, #3F9179, #2F6F5C);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3F9179), to(#2F6F5C));
	background-image: -webkit-linear-gradient(top, #3F9179, #2F6F5C);
	background-image: -o-linear-gradient(top, #3F9179, #2F6F5C);
	background-image: linear-gradient(to bottom, #3F9179, #2F6F5C);
	background-repeat: repeat-x;
	border-color: #2F96B4 #2F96B4 #1F6377;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-global:hover
{
	background-color: #2F6F5C;
	color:#fff;
}


/** Attribute icons **/

.attr-icon-set {
	width: 55px;
	height: 75px;
	float: left;
}
.attr-icons {
	border: none;
	margin-right: 5px;
	margin-bottom: 5px;
	background-color: #EAE7E2;
}
.attr-icon-caption {
	font-size: 65%;
	text-align: center;
	line-height: 10px;
}
/******************************************************\
*
*  TOUCH CAROUSEL
*
\******************************************************/

/* IE and Opera use "move", FF uses -moz-grab */
.touchcarousel .grab-cursor {
	cursor: url(../img/grab.png) 8 8, move;
}
.touchcarousel .grabbing-cursor {
	cursor: url(../img/grabbing.png) 8 8, move;
}
/* Cursor that used when mouse drag is disabled */
.touchcarousel .auto-cursor {
	cursor: auto;
}
/**
		* Carousel with image and text, custom skinned scrollbar
		**/
#carousel-image-and-text {
	width: 600px;
	height: 260px;
	margin: 0 auto;
}
#carousel-image-and-text .arrow-holder {
	height: 250px;
}
#carousel-image-and-text .touchcarousel-item {
	margin-right: 2px;
	width: 170px;
}
#carousel-image-and-text .item-block {
	width: 170px;
	height: 277px;
	display: block;
}
#carousel-image-and-text .item-block img,  #carousel-image-and-text .item-block h4,  #carousel-image-and-text .item-block p {
	float: left;
	position: relative;
	display: block;
	margin: 0;
}
#carousel-image-and-text .item-block img {
	width: 140px;
	height: 140px;
	border: 0;
	padding: 0;
}
#carousel-image-and-text .item-block {
	text-decoration: none;
	color: inherit;
}
#carousel-image-and-text .item-block h4 {
	font: 10px;
	text-align: center;
	color: #000;
	width: 158px;
	height: auto;
	padding: 2px 0 0 6px;
	-webkit-transition: color 0.2s ease-out;
	-moz-transition: color 0.2s ease-out;
	transition: color 0.2s ease-out;
}
#carousel-image-and-text .item-block:hover h4 {
	color: #1873c9;
}
#carousel-image-and-text .item-block p {
	font: normal 11px;
	color: #555;
	width: 158px;
	padding: 0 0 0 6px;
}
#carousel-image-and-text .scrollbar-holder {
	background: #CED7DB;
	bottom: 0;
	height: 1px;
	left: 0;
	right: 0;
}
#carousel-image-and-text .scrollbar {
	background-color: #45a8ce !important;
	bottom: 0;
}
/****************************
Nutrition Facts
****************************/


table {
	border-collapse: separate;
	border-spacing: 2px;
}
.NutritionFacts {
	background-color: #fff;
	border: 1px solid;
	border-color: #555;
	padding: 8px;
	/*voice-family: "\"}\"";
	voice-family:inherit; width:322px;*/
	width: 300px;
}
.nf_Text {
	font-size: 12px;
	text-transform: capitalize;
}
.nf_Bold {
	font-weight: bold;
}
.nf_TextSmall {
	font-size: 10px;
}
.nf_Cell {
	border-top: 1px solid #555;/*padding-bottom:2px;
	padding-top:2px;*/
}
.nf_Right {
	text-align: right;
}
.nf_Center {
	text-align: center;
}
.nf_PaddingB3 {
	padding-bottom: 3px;
}
.nf_PaddingB5 {
	padding-bottom: 5px;
}
.nf_PaddingT5 {
	padding-top: 5px;
}
.nf_BorderT5 {
	border-top: 5px solid #333;
}
.nf_BorderT10 {
	border-top: 10px solid #333;
}
.nf_Header {
	font-size: 18px;
	font-weight: bold;
}
/** Tabs **/
.nav-tabs li {
	font-size: 10px;
}

.tab-pane {
	padding:10px;
}



/*Column */
.column * {
	padding-right: 20px;
}
.column p strong {
	padding-right: 0;
}
/** Articles **/

.article-nav {
	font-family: Oregano, cursive;
	font-size: 110%;
	color: #3F9179;
}
.content h1 {
	padding-top: 20px;
}
/** Flyout Nav **/
ul.navList {
	margin-left: 0px;
}
#nav {
	width: 221px;
	float: left;
	margin: 10px 0 0;
	overflow: visible;
}
.navList li {
	list-style: none;
	margin: 0 0 10px 0;
	position: relative;/*float: left;*/
}
ul.navList, .navList li, .navList li a:hover {
/*background-color:#3a3a3a !important;*/
}
.navList a.title {
	text-align: center;
	text-transform: uppercase;
}
.navList a {
	text-decoration: none;
	color: #ffffff;
	background-color: #3a3a3a;
	/*font-size: 16px;*/
	/*background-image: url(../img/global/navBack.jpg);*/
	background-repeat: repeat-y;
	padding: 7px;
	/*border: 1px #4f9bd9 solid;*/
	-webkit-box-shadow: 3px 3px 5px #283958;
	-moz-box-shadow: 3px 3px 5px #283958;
	box-shadow: 3px 3px 5px #283958;
	display: block;
	width: 221px;
}
.navList a:hover {
	background: #f7f1e5;
	color: #fff;
}
.navList ul, .navList ul ul {
	display: none;
	position: absolute;
	top: 0;
	left: 180px;
	background: #fff;
	background-repeat: repeat-y;
	/*border: 1px #4f9bd9 solid;*/
	-webkit-box-shadow: 3px 3px 5px #283958;
	-moz-box-shadow: 3px 3px 5px #283958;
	box-shadow: 3px 3px 5px #283958;
}
.listTab {
	width: 220px;
	/*height: 300px;*/
	z-index: 100;
}
.navList .listTab li {
	margin: 0 0 0 0;
}
.navList .listTab a, .navList .listTab a:hover {
	background-image: none;
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	width: 250px;
}
.navList .listTab a {
	padding: 4px 5px 4px 10px;
}
.navList li:hover ul ul, .navList li:hover ul ul ul, .navList li:hover ul ul ul ul {
	display: none;
}
.navList li:hover ul, .navList li li:hover ul, .navList li li li:hover ul, .navList li li li li:hover ul {
	display: block;
}

li.in1 a {
	padding-left:40px;
	width:190px;
	
}



.byline {
	font-size: 12px;
}
/** Recipes **/

.recipescontainer {
	overflow: hidden;
	background: #FFFFFF;
	margin: 0 auto;
	color: #444;
}
.recipes {
	display: inline-block;
	width: 160px;
	padding: 5px;
	margin: 5px;
	vertical-align: top;
}
.recipes img {
	margin-top: 5px;
	margin-bottom: 5px;
	border: 1px #CCC solid;
}
hr.recipe-divider {
	margin-top: 10px;
	margin-right: 0;
	margin-bottom: 10px;
	margin-left: 0;
}
.dropdown-air {
	margin-bottom: 7px;
}
/*.recipe-button {
	margin-bottom:5px;
	padding:5px;
}

.recipe-button a {
	color:#000;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
	
}
*/
.content-recipe {
	position: relative;
	float: left;
	width: 200px;
	height: 260px;
	margin-bottom: 25px;
	padding-top: 12px;
	background-image: url(../img/global/content-recipe.png);
	background-repeat: no-repeat;
}
.content-recipe .content-img {
	/*overflow: hidden;*/
	width: 110px;
	margin-left: 27px;
	margin-bottom: 20px;/*border: #CCC solid thin;*/
}

.content-recipe .content-img img {
	height:135px;
}


.content-recipe .recipe-name {
	font-size: 11px;
	font-weight: bold;
	line-height: 13px;
	display: block;
	text-align: left;
	margin-top: 30px;
	margin-right: 6px;
	margin-left: 0px;
	padding-top: 0px;
	width: 154px;
}
.content-recipe .small {
	font-size: 11px;
	padding-left: 20px;
}
.recipe-title {
	font-family: Oregano, cursive;
	color: #3f9179;
}
.recipe-name {
	color: #3f9179;
}
.recipe-description {
	font-weight: bold;
}
.recipescontainer {
	overflow: hidden;
	background: #FFFFFF;
	margin: 0 auto;
	color: #444;
}
.recipes {
	display: inline-block;
	width: 160px;
	padding: 5px;
	margin: 5px;
	vertical-align: top;
}
.recipes img {
	margin-top: 5px;
	margin-bottom: 5px;
	border: 1px #CCC solid;
}
/** Articles **/

.article-title {
}
.article-name {
	font-family: Oregano, cursive;
	color: #3f9179;
}
.article-body {
}
.articlescontainer {
	overflow: hidden;
	background: #FFFFFF;
	margin: 0 auto;
	color: #444;
}
.articles {
	display: inline-block;
	width: 160px;
	padding: 5px;
	margin: 5px;
	vertical-align: top;
}
.articles img {
	margin-top: 5px;
	margin-bottom: 5px;
	border: 1px #CCC solid;

}
img.article-pic {
	margin-top: 0px;
	margin-bottom: 0px;
	width: 265px;
	margin-right: 0px;
	
}

.photo-attr {
	font-size:9px;
	font-style:italic;
	height:12px;
}
.photo-attr span {
	float:right;
}

.pic-title {
	font-family:'Oregano', cursive;
	font-size:17px;
	margin-bottom:6px;
}

div.article-pic-container a.btn btn-inverse {
	font-size:11px;
}

.article-tabs {
	margin-bottom: 30px;
}

.article-tabs .tab-pane h4.gb-heading,
div.tab-content article-tabs>div>h4.gb-heading{
	margin-bottom: 20px;
}

.article-pic-container,
.article-pics-container {
	border: 2px #CCC solid;
	padding:10px;
}



.article-pic-container {
	float:right;
	margin-left: 20px;
	/*margin-bottom: 20px;*/
}

.article-pic-container.tight {
	padding:5px;
	border: 1px #CCC solid;
	
}

.article-pics-container {
	margin-left: 0px;
	margin-bottom:20px;
	width:265px;
	/*margin-bottom: 20px;*/
}


.article-pic-container .right,
.article-pics-container .right{
	float:right
	}

.gray-button  {
  background-color: hsl(0, 0%, 16%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5b5b5b", endColorstr="#282828");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#5b5b5b), to(#282828));
  background-image: -moz-linear-gradient(top, #5b5b5b, #282828);
  background-image: -ms-linear-gradient(top, #5b5b5b, #282828);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5b5b5b), color-stop(100%, #282828));
  background-image: -webkit-linear-gradient(top, #5b5b5b, #282828);
  background-image: -o-linear-gradient(top, #5b5b5b, #282828);
  background-image: linear-gradient(#5b5b5b, #282828);
  border-color: #282828 #282828 hsl(0, 0%, 11%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
}

}

.gray-button:hover  {
  background-color: hsl(0, 0%, 16%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#282828", endColorstr="#5b5b5b");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#282828), to(#5b5b5b));
  background-image: -moz-linear-gradient(top, #282828, #5b5b5b);
  background-image: -ms-linear-gradient(top, #282828, #5b5b5b);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #282828), color-stop(100%, #5b5b5b));
  background-image: -webkit-linear-gradient(top, #282828, #5b5b5b);
  background-image: -o-linear-gradient(top, #282828, #5b5b5b);
  background-image: linear-gradient(#282828, #5b5b5b);
  border-color: #282828 #282828 hsl(0, 0%, 11%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
}






.xtra-images {
	margin-top:30px;
}

.xtra-images img {
	margin-left: 0px;
}

img.article-landing-pic {
	width: 315px;
	float: right;
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 20px;
	border: solid #CCC 3px;
	padding: 5px;
	-webkit-box-shadow: 0px 0px 5px #F1F1F1;
	-moz-box-shadow: 0px 0px 5px #F1F1F1;
	box-shadow: 0px 0px 5px #F1F1F1;
}
.gb-heading.article {
	color: #C00;
	font-size: 120%;
}
.prefix {
	font-weight:bold;
	font-size: 12px;
	color: #3f9179;
}

/** Spacer **/
.air10 {
	margin-top:10px;
}
.air20 {
	margin-top:20px;
}

.air30 {
	margin-top:30px;
}

/** Bootstrap Edit **/
	
.dropdown-menu li {
	padding-left: 0px;
	padding-right: 15px;
}
.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a,  .dropdown-menu .active > a, .dropdown-menu .active > a:hover {
	/* Legacy browsers */
	color: #f7f1e5;
	background: #3a3a3a url("gradient-bg.png") repeat-x top;
	-o-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	/* Recent browsers */
	background: -webkit-gradient(  linear,  left top, left bottom,  from(#f7f1e5),  to(#3a3a3a)  );
	background: -webkit-linear-gradient(  top,  #f7f1e5,  #3a3a3a  );
	background: -moz-linear-gradient(  top,  #f7f1e5,  #3a3a3a  );
	background: -o-linear-gradient(  top,  #f7f1e5,  #3a3a3a  );
	background: linear-gradient(  top,  #f7f1e5,  #3a3a3a  );
}
<!--
---- CSS for Popup ----
-->
 #element_to_pop_up {
display:none;
 width:400px;
 height:200px;
 background-color:#FFF;
}
#popup, #popup2, .bMulti {
	background-color: #fff;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 0 0 25px 5px #999;
	color: #111;
	display: none;
	min-width: 450px;
	padding: 25px
}
#popup .logo {
	color: #2b91af;
	font: bold 325% 'Petrona', sans
}
#popup, .bMulti {
	min-height: 250px
}
#popup2 iframe {
	background: url('loader.gif') center center no-repeat;
	min-height: 240px;
	min-width: 450px
}
.loading {
	background: url('loader.gif') center center no-repeat
}
#story_content .gb-heading, #policy_content .gb-heading, #welcome_content .gb-heading, #vendor-article span.gb-heading {
	font-size: 24px;
	font-family: 'Oregano', cursive;
	color: #3F9179;
	margin-top: 20px;
	letter-spacing: 1px;
}
.gb-heading {
	font-family: 'Oregano', cursive;
	color: #3F9179;
	font-size: 21px;
	letter-spacing: 1px;
}
h2.gb-heading {
	font-size: 28px;
	font-family: 'Oregano', cursive;
	color: #3F9179;
}

h2.gb-heading.recipes-heading {
	margin-top:0px
}

h2.gb-heading hr {
	margin: 0px;
}

.gb-heading.dark {
	color:#3a3a3a;
	margin-left:40px;
}

.section-heading {
	font-family: 'Oregano', cursive;
	color: #3F9179;
	margin-top: 20px;
	letter-spacing: 0px;
	font-size: 20px;
}
.section-subheading {
	font-size: 18px;
	font-family: 'Oregano', cursive;
	color: #C00;
	margin-top: 20px;
	margin-bottom: 10px;
	letter-spacing: 1px;
}

.section-subheading.small {
	font-size:17px;
}

.section-subheading.recipes-heading {
	margin-top: 5px;
	margin-bottom: 0px;
	margin-left:0px;
	padding-left:0px;
}

.pages h3.section-subheading{
	line-height:25px;
}

.gb-nav {
	font-size: 18px;
	font-family: 'Oregano', cursive;
	color: #C00;
	margin-top: 0px;
	margin-bottom: 0px;
	letter-spacing: 1px;
}

.gb-nav-container hr {
	margin: 12px 0;
}

.vendor-category {
	margin-top:10px;
	margin-bottom:0px;
	padding:0px;
	padding-left:36px;
}

#myTab .section-subheading {
	margin-bottom:0;
	font-size:20px;
}

.section-subheading.black {
	color: #3a3a3a;
	padding:13px;
	margin-top: 0px;
	margin-bottom:10px;
	cursor:default;	
}

.gb-heading.uppercase {
	text-transform:uppercase;
	line-height:24px;
	margin-bottom:15px;
	vertical-align:top;
}

h3.gb-heading.uppercase.category {
	margin-bottom:0px;
}

hr.category {
	margin-bottom:5px;
	margin-top:5px;
}


#story_content, #policy_content, #welcome_content {
	-webkit-border-radius: 12px; /* Android ≤ 1.6, iOS 1-3.2, Safari 3-4 */
	border-radius: 12px; /* Android 2.1+, Chrome, Firefox 4+, IE 9+, iOS 4+, Opera 10.50+, Safari 5+ */
	-webkit-box-shadow: 0px 0px 8px 0px #ffffff; /* Android 2.3+, iOS 4.0.2-4.2, Safari 3-4 */
	-moz-border-radius: 12px;
	box-shadow: 0px 0px 8px 0px #ffffff; /* Chrome 6+, Firefox 4+, IE 9+, iOS 5+, Opera 10.50+ */
	background-color: #444444;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f7f1e5)); /* Chrome, Safari 4+ */
	background-image: -webkit-linear-gradient(top, #ffffff, #f7f1e5); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
	background-image: -moz-linear-gradient(top, #ffffff, #f7f1e5); /* Firefox 3.6-15 */
	background-image: -o-linear-gradient(top, #ffffff, #f7f1e5); /* Opera 11.10-12.00 */
	background-image: linear-gradient(to bottom, #ffffff, #f7f1e5); /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */
}


#policy_content {
	display: none;
}

#policy_content  .policy-heading {
	font-size: 24px;
	font-family: 'Oregano', cursive;
	text-align:center;
	color: #C00;
	margin-top: 20px;
	margin-bottom: 10px;
	letter-spacing: 1px;
}

#policy_content .pad {
	height: 500px;
	overflow-y: scroll;
	color: #000;
	width: 800px;
	padding: 35px;
	padding-top:0px;
}

.disclaimer {
	font-weight:bold;
	color:#900;
}

/** Temp Article Hover JS **/

.close-x {
	float: right;
}
.art-list {
	background-color: white;
	padding: 10px;
	border: 1px solid #E1E1E1;
	-webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.1), inset 0px 1px 1px 1px rgba(255, 255, 255, 0.7);
	-moz-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.1), inset 0px 1px 1px 1px rgba(255, 255, 255, 0.7);
	box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.1), inset 0px 1px 1px 1px rgba(255, 255, 255, 0.7);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.art-list p{
	margin:0px;
}


/** SHOPPING CART **/

#shopping-cart  h1.gb-heading.cart {
	margin-top:0px;
	padding-top:0px;
}

#shopping-cart .bold {
	font-weight:bold;
}

.span3.gb-ship {
	width: 200px;
	float:left;
}

#ship_options {
	margin-top:20px;
}

.gb-ship label {
	font-size:12px;
}

.shop-drive {
	
}
#ccbox {
		background: transparent url("/img/cards.png");
		margin: 0 0 10px 0;
		padding: 0 0 0 150px;
		width: 0;
		height: 23px;
		overflow: hidden;
	}

.shipping {
	width:100px;
}
.weight {
	width:40px;
}

.qty {
	width:30px;
}

/** Info Boxes **/*

.box-gb {

	border:#CCC 1px solid;
	padding:10px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

}
/* Large desktop */
@media (min-width: 1200px) {
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
}


