body {
	border-top: 5px solid #000;
	font-size: 13px;
	background-color: #94c0c0;
	padding-top: 40px;
}


/** TICKER **/

.ticker-wrap {
	height: 80px;
	position: absolute;
	top: 495px;
}
/* liScroll styles */

.tickercontainer { /* the outer div with the black border */
	width: 1400px;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.tickercontainer .mask { /* that serves as a mask. so you get a sort of padding both left and right */
	position: relative;
	width: 1400px;/**overflow: hidden;**/
}
ul.newsticker { /* that's your list */
	position: relative;
	/**left: 1000px;**/
	font: bold 10px Verdana;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
ul.newsticker li {
	float: left; /* important: display inline gives incorrect results when you check for elem's width */
	margin: 0;
	padding: 0;
}
ul.newsticker a {
	white-space: nowrap;
	padding: 0;
	color: #ff0000;
	font: bold 10px Verdana;
	margin: 0 50px 0 0;
}
ul.newsticker span {
	margin: 0 10px 0 0;
}
