@font-face {
    font-family: 'franchiseregular';
    src: url('franchise-bold/franchise-bold-webfont.eot');
    src: url('franchise-bold/franchise-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('franchise-bold/franchise-bold-webfont.woff') format('woff'),
         url('franchise-bold/franchise-bold-webfont.ttf') format('truetype'),
         url('franchise-bold/franchise-bold-webfont.svg#franchiseregular') format('svg');
    font-weight: normal;
    font-style: normal;
}



body {
	background:url(../img/homepage/backgrounds/globe.jpg) center top;
	font-family: 'Rosario', verdana, arial, sans-serif;
	font-size: 16px;
	padding-top: 0px;
}
h1, h2, h3, h4, h5 {
	
	color: #282a22;
	font-weight: normal;
}

h2 {
	font-size: 19px;
	line-height:21px;
}

h3 {
	font-size: 17px;
	line-height: 22px;
}
.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
	width: 1000px;
	position:relative;
}
#lower .row-fluid {
	padding-left: 30px;
}
a {
	color: #3f9179;
}

body #page {
	max-width: 1170px;
	margin:auto;
	-webkit-box-shadow: 0 0 10px #000;
	box-shadow: 0 0 10px #000;
	position: relative;
	background:url(../img/global/page-bkgnd-tile.png) repeat;
}



.row-fluid .span4 img {
	margin-bottom: 10px;
}
.row-fluid .span4 .img-box {
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 30px;
	font-size: 12px;
}
.span4.gb-box-front {
	width: 29.1%;
	height: 325px;
	margin-left: 30px;
	margin-bottom:30px;
}
.span4.gb-box-front a {
	text-decoration: none;
}
#welcome-bkngd {
	position:absolute;
}
#welcome_content h2 {
	font-family: Oregano, cursive;
	color: #3f9179;
	margin-bottom: 20px;
}
#welcome_content {
	display: none;
	background-color: #FFF;
	color: #000;
	width: 700px;
	-color: #fff;
	padding: 35px;
	padding-top: 20px;
	-webkit-border-radius: 12px; /* Android ≤ 1.6, iOS 1-3.2, Safari 3-4 */
	border-radius: 12px; /* Android 2.1+, Chrome, Firefox 4+, IE 9+, iOS 4+, Opera 10.50+, Safari 5+ */
	-webkit-box-shadow: 0px 0px 8px 0px #ffffff; /* Android 2.3+, iOS 4.0.2-4.2, Safari 3-4 */
	box-shadow: 0px 0px 8px 0px #ffffff; /* Chrome 6+, Firefox 4+, IE 9+, iOS 5+, Opera 10.50+ */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f7f1e5)); /* Chrome, Safari 4+ */
	background-image: -webkit-linear-gradient(top, #ffffff, #f7f1e5); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
	background-image: -moz-linear-gradient(top, #ffffff, #f7f1e5); /* Firefox 3.6-15 */
	background-image: -o-linear-gradient(top, #ffffff, #f7f1e5);
	; /* Opera 11.10-12.00 */
	background-image: linear-gradient(to bottom, #ffffff, #f7f1e5); /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */
}
#welcome_content p {
	font-family: 'Ubuntu', sans-serif;
	color: #3a3a3a;
	font-size: 15px;
	line-height: 23px;
	text-align: justify;
}
#welcome_content p.section-heading {
	font-family: 'Oregano', cursive;
	color: #c00;
	font-size: 25px;
}
#welcome>img {
	max-width: none;
}
#gb-title {
	position: relative;
	margin-top: 10px;
	width: 960px;
	margin: auto;
}
#gb-title.magazine {
	position: relative;
	margin-top: 10px;
	width: 500px;
	margin: auto;
}
#gb-title img {
	text-align: center;
}
h1.title-description {
	
	margin: auto;
	padding: 10px;
	

	font-size: 24px;
	margin-top: 15px;
	position: relative;
}
.welcome-link {
	margin: auto;
	width: 104px;
	padding-top: 5px;
}
#account {
	width:38%;
	float:right;
	margin-top:33px;
}
ul.gb-horiz-account {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 70%;
	list-style:none;
	
}

li.social, li.search, li.cart {
	display:inline;
	margin-left:3px;
}

span.search {
	float:left;
}

li.gb-account {
	display: inline;
	list-style-image: none;
	padding-left: 15px;
}
li.gb-account a {
	color: #d64c32; /*text-decoration: none;*/
	font-weight: bold;
}
.span4.gb-box-front {
	border: #C00 thin solid;
	box-shadow: 0px 0px 8px 0px #ffffff; /* Chrome 6+, Firefox 4+, IE 9+, iOS 5+, Opera 10.50+ */
	background-color: #444444;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f7f1e5)); /* Chrome, Safari 4+ */
	background-image: -webkit-linear-gradient(top, #ffffff, #f7f1e5); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
	background-image: -moz-linear-gradient(top, #ffffff, #f7f1e5); /* Firefox 3.6-15 */
	background-image: -o-linear-gradient(top, #ffffff, #f7f1e5);
	; /* Opera 11.10-12.00 */
	background-image: linear-gradient(to bottom, #ffffff, #f7f1e5); /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */
}
#upper {
	margin: 0px;
	margin-top:10px;
	padding: 0px; 
}
#upper.magazine {
	margin: 0px;
	padding: 20px;
}
#lower {
	background: url(../img/global/fff-50.png) repeat;
	position: relative;
}
.carousel {
	margin-bottom: 20px;
}
.carousel-inner {
}
.carousel-inner .item {
	margin-left: 0px;
	margin-top: 0px;/*left: 9.2%; /*position:relative;*/
	/*width: 100%;*/ }
.carousel-control {
	top: 50%;
	line-height: 26px;
}
.carousel-control.left {
	left: -55px;
}
.carousel-control.right {
	right: -55px;
}

/** FEATURE **/

.feature {
	display:inline-block;
	width:193px;
	height:193px;
	/*background:url(../img/global/feature-placeholder.jpg) no-repeat;*/
	border:#999 thin solid;
	position:relative;
	margin-bottom:10px;
	
}
.feature img {
	height:193px;
	margin:auto;
}

.feature-label {
	font-family:'franchiseregular';
	font-size:1.8em;
	color:#393b2e;
}

.feature-row {
	margin-bottom:25px;
}

.feature-product-name {
	position:absolute;
	bottom:5px;
	background-color:#FFF;
	opacity:.9;
	width:100%;
	height:24px;
	text-align:center;
	font-size:11px;
}

.feature-price {
	position:absolute;
	top:0px;
	right:0px;
	padding:5px;
	font-size:11px;
	font-weight:700;

}

.basket {
	position: absolute;
	top: 51px;
	left: -72px;
	z-index: 500;
}
#infinite-background {
	background-image: url(../img/global/infinite-header.png);
	background-repeat: repeat-x;
	height:140px;
}
#header-top {
	height:88px;
}

#header-magazine {
	background-image: url(../img/global/GB-header-magazine.png);
	background-repeat: no-repeat;
	height: 170px;
	margin: auto;
	width: 960px;
	position: relative;
}

#left-header, #right-header {
	height: 100px;
	position: absolute;
	width: 600px;
}
#left-header {
	background-image: url(../img/global/bubbles-left.png);
	background-repeat: repeat-x;
	left: -600px;
	top: 0px;
}
#right-header {
	background-image: url(../img/global/bubbles-right.png);
	background-repeat: repeat-x;
	right: -600px;
	top: 0px;
}
/** TICKER **/


.marquee, .marquee-with-options {
	position: absolute;
	top: 450px;
	width: 83%;
	height: 100px;
	overflow: hidden;
}
.js-marquee {
	margin-top: 20px;
	color: #fff;
	font-size: 35px;
	font-family: Oregano, cursive;
	text-shadow: 4px 1px 5px rgba(130, 128, 134, 1);
}

.js-marquee a {
	color: #fff;
}

.js-marquee a:hover {
	color: #c00;
}
.marquee span {
	padding-right: 400px;
}
.marquee span a {
	color: #fff;
	text-decoration: none;
}
.ticker-wrap {
	height: 80px;
	;
	position: absolute;
	top: 515px;
}
/* liScroll styles */
.tickercontainer {
	margin: 0; /* the outer div with the black border */
	padding: 0;
}
.tickercontainer .mask {
	position: relative; /* that serves as a mask. so you get a sort of padding both left and right */
	width: 1200px;
/*overflow: hidden;*/}
ul#ticker01 li.ticker-tape {
	padding-right: 400px;
	height: 70px;
	color: #fff;
	font-size: 50px;
	font-family: Oregano, cursive;
	text-shadow: 4px 1px 5px rgba(130, 128, 134, 1);
}
ul.newsticker {
	font: bold 10px Verdana; /**left: 1000px;**/
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative; /* that's your list */
}
ul.newsticker li {
	float: left;/* important: display inline gives incorrect results when you check for elem's width */
	/*margin: 0;
	padding: 0;*/ }
/** Headlines **/
#headlines {
	margin-top: 55px;
	position: relative;
}
.headline-1, .headline-2, .headline-3, .headline-4 {
	background-color: transparent;
	color: #FFF;
	font-size: 150%;
	height: 150px;
	margin-bottom: 75px;
}
.headline-3, .headline-4 {
	margin-bottom: 20px;
	height: 30px;
}
.headline-1 a, .headline-2 a, .headline-3 a, .headline-4 a {
	color: #FFF;
	text-decoration: none;
}
.headline-2.span6 h2 a, .headline-4.span6 h2 a {
	float: right;
}
.headline-4 a {
	color: #D9553E;
	font-style: italic;
}
.front-page-pic-link {
	display: none;
	color: #FFF; /*font-weight: bold;*/
	float: left;
	height: 23px;
	left: 0px;
	position: absolute; /*background-color: #312b2d;*/
	top: 320px;
	width: 470px;
}
div.pic-link-title a {
	color: #FFF;
	font-size: 90%;
	text-decoration: none;
}
div.pic-link-title {
	float: left;
	padding-top: 0px;
	position: relative;
	z-index: 500;
}
.shop-now {
	background-color: #DD5944;
	border: 1px solid #bbb;
	margin-top: -1px;
	position: relative;
	z-index: 200;
}
.shop-now a {
	color: #fff;
	font-size: 90%;
	/* [disabled]font-weight: bold;
*/
	padding: 5px 5px;
	text-decoration: none;
	width: 100px;
}
.carousel-caption {
	color: #fff;
	font-size: 14px;
	background: none;
	left: 20px;
	line-height: 22px;
	position: absolute;
	top: 10px;
	width: 300px;
}
.carousel-caption h1 {
	font-size: 36px;
	font-family: 'Oregano', cursive;
}
.carousel-caption h1 a {
	color: #fff;
}
/* Navigation **/

#main-nav  li a.parent {
	font-family: 'franchiseregular';
	font-size:25px;
}

#nav-wrapper {
	height: 100px;
	width: 100%;
	padding-left: 103px;
}
.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
	background-color: transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.navbar-inner {
	min-height: 40px;
	padding-right: 20px;
	padding-left: 56px;
	background-color: transparent;
	background-image: none;
	background-repeat: none;
	border: none;
	-webkit-border-radius: none;
	-moz-border-radius: none;
	border-radius: none;
	filter: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.navbar {
	margin-bottom: 0px;
}
.navbar .nav {
	width: 1000px;
	left: 0px;
}
.navbar .nav > li > a {
	color: #fff;
	font-weight: bold;
	font-size: 100%;
	text-shadow: none;
}
.navbar .nav > li > a:hover {
	color: #FFC;
}
li.mzr-drop>a>b.caret {
	vertical-align: middle;
	margin-left: 3px;
}
/** Mega Menu **/

.meganizr {
}
.mzr-content {
	-webkit-border-radius: 14px; /* Android ≤ 1.6, iOS 1-3.2, Safari 3-4 */
	border-radius: 14px; /* Android 2.1+, Chrome, Firefox 4+, IE 9+, iOS 4+, Opera 10.50+, Safari 5+ */
	-webkit-box-shadow: 0px 0px 8px 0px #ffffff; /* Android 2.3+, iOS 4.0.2-4.2, Safari 3-4 */
	box-shadow: 0px 0px 8px 0px #ffffff; /* Chrome 6+, Firefox 4+, IE 9+, iOS 5+, Opera 10.50+ */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#E5F0ED), to(#ffffff)); /* Chrome, Safari 4+ */
	background-image: -webkit-linear-gradient(top, #E5F0ED, #ffffff); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
	background-image: -moz-linear-gradient(top, #E5F0ED, #ffffff); /* Firefox 3.6-15 */
	background-image: -o-linear-gradient(top, #E5F0ED, #ffffff);
	; /* Opera 11.10-12.00 */
	background-image: linear-gradient(to bottom, #E5F0ED, #ffffff); /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */
}
.meganizr .mzr-drop .mzr-content {
}
.mzr-content p.nav-special a {
	color: #3f9179;
	font-family: 'Oregano', cursive;
	font-size:19px;
}
div.wide > div.first.column > p.nav-special > a:hover {
	color: #c00;
}
.meganizr > li.mzr-drop {
	border: none;
}
ul.meganizr >li {
	border: none;
}
ul.meganizr > li > a {
	padding-left: 0px;
}
ul.meganizr > li > a:hover, .mzr-content .wide p a:hover {
	color: #97c199;
}
.wide {
}
/** Headers **/
.gb-heading {
	font-family: 'Oregano', cursive;
	color: #C00;
	font-size: 13px;
	letter-spacing: 0px;
}
.issue {
	position: absolute;
	right: 0px;
	bottom: -125px;
 	width:121px;
	font-size: 18px;
	color: #fff;
	text-align: center;
	text-shadow: 4px 1px 5px rgba(130, 128, 134, 1);
}
.gb-heading.welcome {
	font-size: 20px;
}
.gb-heading.blocks {
	font-size: 19px;
}

.featured-vendor {
	font-family: 'Oregano', cursive;
	font-size:22px;
	color: #fff;
	padding:10px;
	text-shadow: 4px 1px 5px rgba(130, 128, 134, 1);
	position:absolute;
	top:-39px;
}
.explain {
	font-size: 20px;
	padding-top:20px;
	padding-bottom: 20px;
}
.section-subheading {
	font-size: 18px;
	font-family: 'Oregano', cursive;
	color: #C00;
	margin-top: 20px;
}
.btn-gb {
	padding: 10px;
}
.center {
	text-align: center;
}
.popover-content {
	font-weight: normal;
	font-size: 13px;
	padding: 20px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#BFDAD2)); /* Chrome, Safari 4+ */
	background-image: -webkit-linear-gradient(top, #ffffff, #BFDAD2); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
	background-image: -moz-linear-gradient(top, #ffffff, #BFDAD2); /* Firefox 3.6-15 */
	background-image: -o-linear-gradient(top, #ffffff, #BFDAD2);
	; /* Opera 11.10-12.00 */
	background-image: linear-gradient(to bottom, #ffffff, #BFDAD2); /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */
}

.b-close.btn-gb  {
	background-color: #3f9179;
	border-radius: 12px;
	box-shadow: none;
	font: bold 100% sans-serif;
	position: absolute;
	right: 4px;
	top: 4px;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
	color: #FFF;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	padding-top: 6px;
	padding-right: 9px;
	padding-bottom: 6px;
	padding-left: 9px;
}


.meganizr > li > div.popover-content, .meganizr > li > ul {
	border: #AAA6A6 2px solid;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-webkit-box-shadow: 0px 0px 7px 0px #3A3A3A;
	box-shadow: 0px 0px 7px 0px #3A3A3A;
}
.mzr-content p {
	font-weight: 600;
}
.mzr-content p a {
	color: #C00;
}
.meganizr > li > div {
	-webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.1), inset 0px 1px 1px 1px rgba(255, 255, 255, 0.7);
	-moz-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.1), inset 0px 1px 1px 1px rgba(255, 255, 255, 0.7);
	box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.1), inset 0px 1px 1px 1px rgba(255, 255, 255, 0.7);
}
ul.meganizr >li.cart > a {
	padding-left: 10px;
	padding-top: 0px;
	line-height: 31px;
}

li.cart a {
	color: #FFF;
}


.btn-global {
	color: #FFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #49AFCD;
	background-image: -moz-linear-gradient(top, #3F9179, #2F6F5C);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3F9179), to(#2F6F5C));
	background-image: -webkit-linear-gradient(top, #3F9179, #2F6F5C);
	background-image: -o-linear-gradient(top, #3F9179, #2F6F5C);
	background-image: linear-gradient(to bottom, #3F9179, #2F6F5C);
	background-repeat: repeat-x;
	border-color: #2F96B4 #2F96B4 #1F6377;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
 filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-global:hover {
	background-color: #2F6F5C;
	color: #fff;
}

/** Nav **/

hr.thin.tight {
	margin: 5px 0;
	border: 0;
	border-top: 1px solid #3f9179;
	border-bottom: none;
	
}

/* Footer */

#footer {
	margin: auto;
	padding: 20px;
	color: #fff;
	background-color:#3b3666;

}

#footer a {
	color:#fff;
}

.footer-links {
	padding-top:10px;
	padding-bottom:30px;	
}
.footer-links a {
	font-family:'franchiseregular';
	font-size:2em;
	padding-right:30px;
	
}

.footer-links a.first-link {
	padding-left:9.5%;
}

.footer-links a.last-link {
	padding-right:0px;
}

#main-nav {
	font-size:15px;
}


/** magazine/blog link **/
.magazine {
	position:absolute;
	top:51px;
	right:78px;
	height:25px;
	width:200px;
	
}

/* CART */

.btn.cart {
	
}

td {
	font-family: 'Open Sans', verdana, arial, sans-serif;
	font-size:12px;	
}
